.input {
	border-radius: 15px;
	padding-left: 20px;
	background-color: transparent;
}


.input::placeholder {
	opacity: 0.4;
	
}

.input_container {
	width: 100%;
	margin-top: 2rem;
}

.input_register {
	width: 100%;
	margin-bottom: 1rem;
}


@media (min-width: 780px){
	.input_container {
		width: 40vw;
	}

	.input_register {
		width: 100%;
		margin-bottom: 2rem;
	}
}

.input:focus {
	outline: none;
}

